.App {
  text-align: center;
  background-color: white;
  color: white;
  min-height: 100vh;
}

h1 {
  margin: 0;
}

.header {
  background: rgb(36, 32, 162);
  padding: 8px;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 14px;
}

.movie {
  color: black;
  background-color: rgb(190, 190, 190);
  border: 1px solid grey;
  padding: 3px;
  font-weight: bold;
  text-align: start;
  width: 22%;
  margin-top: 14px;
}

.movie img {
  height: 220px;
  width: 100%;
}
